<div><a routerLink="../">Back</a></div>
<form #userForm="ngForm" (ngSubmit)="Register()">
<div>Username: <input type="text" [(ngModel)]="username" name="username"></div>
<div>Password: <input type="password" [(ngModel)]="password1" name="password1"></div>
<div>Confrim Password: <input type="password" [(ngModel)]="password2" name="password2"></div>
<div>Type: 
    <select [(ngModel)]="type" name="type">
      <option value="teacher">Teacher</option>
      <option value="student">Student</option>
    </select>
</div>
<div><button type="submit">Submit</button></div>
<router-outlet><router-outlet>